data_management/data/
*.aux
*.fdb_latexmk
documentation/writeup/build/
*virtual_environment/
*__pycache__*
*.asv
*.asv
*.swp
*.fig
*.jpg
*.fls
*.log
*-blx.bib
*.bbl
*.blg
*.run.xml
*~
results/*
*.swo
